<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Users</h1>
<table border="1">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Year</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.name}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.year}"/>
        <td><a th:href="@{'users/edit?id=' + ${user.getId()}}">Update</a></td>
        <td>
           <form th:method="POST" th:action="@{/users/delete?id={id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form> </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" value="Add user" onclick="window.location.href = 'users/new'"/>
</body>
</html>